<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Document</title>
</head>
<body>
    <section>
        <div>
            번호: {{model.id}} <br>
            제목: {{model.title}} <br>
            내용: {{model.content}} <br>
            작성일: {{model.createdAt}} <br>
        </div>
    </section>
</body>
</html>